.Button {
    cursor: pointer;
    color: var(--inverted-primary-color);
}

.clear {
    background: none;
    border: none;
    outline: none;
}

.green {
    background: #23913e;
    border: 1px solid #073813;
    outline: none;
    padding: 10px 15px;
    border-radius: 20px;
}

.red {
    background: #ad2016;
    border: 1px solid #380a07;
    outline: none;
    padding: 10px 15px;
    border-radius: 20px;
}
