.app.dark {
  --bg-color: #0e0e75;
  --inverted-bg-color: #d8d8dd;
  --primary-color: #049684;
  --secondary-color: #15bb15;
  --inverted-primary-color: #061a5e;
  --inverted-secondary-color: #0928b3;
}